<a href="https://colab.research.google.com/github/zoya-ivanova/ETL/blob/Sem_1/Untitled30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [56]:
#Подгружаем данные с гугл диска

from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [26]:
data = pd.read_csv('/content/drive/MyDrive/s2_data.csv')

data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [28]:
data.tail(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

In [31]:
# случайно выбранные 5 строк (каждый раз другие при перезапуске)
data.sample(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
3802,2,NaN,34,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,операции с недвижимостью
15697,1,-199.485987,42,Среднее,1,женат / замужем,0,M,сотрудник,0,105299.147438,покупка своего жилья
19105,3,-2271.322154,34,среднее,1,женат / замужем,0,M,сотрудник,1,171439.760594,покупка жилья для семьи
15607,0,-1913.615200,46,среднее,1,гражданский брак,1,F,сотрудник,0,159343.539979,свадьба
19185,1,-620.684193,34,среднее,1,гражданский брак,1,F,сотрудник,0,118397.622433,покупка коммерческой недвижимости

In [33]:
# зафиксировать случайно выбранные строки
data.sample(5, random_state=1)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
1383,0,353802.811675,37,среднее,1,вдовец / вдова,2,F,пенсионер,0,216452.226085,строительство недвижимости
300,1,-359.193975,33,СРЕДНЕЕ,1,гражданский брак,1,M,сотрудник,0,223001.623994,на проведение свадьбы
6565,2,-1064.854333,35,среднее,1,гражданский брак,1,F,компаньон,0,163591.209323,свадьба
17027,0,NaN,48,высшее,0,гражданский брак,1,F,сотрудник,0,NaN,операции с жильем
4077,0,-7059.100220,45,высшее,0,гражданский брак,1,F,компаньон,1,194820.185757,сыграть свадьбу

In [34]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB
None

###1. Проанализируйте датасет на наличие пропусков

In [49]:
# суммарное количество пропущенных значений в каждом столбце
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [50]:
# % пропущенных значений в каждом столбце
data.isna().sum() / len(data)

children            0.000000
days_employed       0.100999
dob_years           0.000000
education           0.000000
education_id        0.000000
family_status       0.000000
family_status_id    0.000000
gender              0.000000
income_type         0.000000
debt                0.000000
total_income        0.100999
purpose             0.000000
dtype: float64

In [40]:
data['education'].value_counts()

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
Ученая степень             1
УЧЕНАЯ СТЕПЕНЬ             1
Name: education, dtype: int64

In [43]:
data['education'] = data['education'].astype('str')
data['dob_years'] = data['dob_years'].astype('int8')
data['children'] = data['children'].astype('int8')
# data['days_employed'] = data['days_employed'].astype('int8')

In [ ]:
# Ошибка говорит о том, что при попытке преобразования значений в тип данных `int8`
# обнаружены неподходящие значения NaN (Not a Number) или inf (бесконечность).
# Поскольку тип данных `int8` не поддерживает отсутствующие значения, преобразование содержащихся в данных NaN или inf в этот тип данных невозможно.
# Для решения сначала заполнить пропущенные значения (NaN) в столбце и удалить или заменить бесконечные значения (inf) на подходящие, а затем уже делать преобразование в int8.

# Заполнить NaN нулями
# data['days_employed'] = data['days_employed'].fillna(0)

# Удалить или заменить inf
# data['days_employed'] = data['days_employed'].replace([np.inf, -np.inf], np.nan)

# Преобразовать в int8
# data['days_employed'] = data['days_employed'].astype('Int8')

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int8
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int8
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(3), int8(2), object(5)
memory usage: 1.7+ MB

In [53]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

В двух столбцах есть пропущенные значения. Один из них — days_employed. Другой столбец с пр
опущенными значениями — total_income — хранит данные о доходах. На сумму дохода сильнее в
сего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением
по каждому типу из столбца income_type. Например, у человека с типом занятости сотрудник пр
опуск в столбце total_income должен быть заполнен медианным доходом среди всех записей с тем
же типом.

###2. Найдите в датафрейме дубликаты. И удалите их. Значения могут быть одинаковыми но написаны по разному. Например может отличаться размер регистра(заглавные и строчные буквы)

In [54]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
21520    False
21521    False
21522    False
21523    False
21524    False
Length: 21525, dtype: bool

In [57]:
# посчитайте дубликаты
data.duplicated().sum()

54

In [59]:
# посмотрим по заданным столбцам дубликаты
data.duplicated(subset = ['days_employed', 'family_status_id', 'dob_years']).sum()

1943

In [64]:
# удалите дубликаты, строки имели индексы в порядке возрастания
df = data.drop_duplicates().reset_index(drop=True)

In [65]:
# удаление неявных дубликатов
df['education'] = df['education'].str.lower()

In [66]:
df.duplicated().sum()

0

###3. Сделайте колонку purpose_category в которую войдут следующие категории:
• операции с автомобилем,<br>
• операции с недвижимостью,<br>
• проведение свадьбы,<br>
• получение образования

In [67]:
df['purpose']

0                       покупка жилья
1             приобретение автомобиля
2                       покупка жилья
3          дополнительное образование
4                     сыграть свадьбу
                     ...
21449               операции с жильем
21450            сделка с автомобилем
21451                    недвижимость
21452    на покупку своего автомобиля
21453           на покупку автомобиля
Name: purpose, Length: 21454, dtype: object

In [68]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [73]:
# создаем функцию categorize_purpose()
def categorize_purpose(purpose):
  if 'авто' in purpose:
    return 'операции с автомобилем'
  if 'недвиж' in purpose or 'жиль' in purpose:
    return 'операции с недвижимостью'
  if 'свад' in purpose:
    return 'проведение свадьбы'
  if 'образов' in purpose:
    return 'получение образования'

In [74]:
print(categorize_purpose('покупка жилья'))

операции с недвижимостью

In [76]:
df['purpose_category'].value_counts()

операции с недвижимостью    10811
операции с автомобилем       4306
получение образования        4013
проведение свадьбы           2324
Name: purpose_category, dtype: int64

In [75]:
# примените функцию методом apply()
df['purpose_category'] = df['purpose'].apply(categorize_purpose)
df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_category
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,операции с недвижимостью
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,операции с автомобилем
2,0,-5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,операции с недвижимостью
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,проведение свадьбы
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21449,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем,операции с недвижимостью
21450,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем,операции с автомобилем
21451,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость,операции с недвижимостью
21452,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля,операции с автомобилем
21453,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля,операции с автомобилем